<div
  class="container"
  *ngIf="
    simulationResult &&
    simulationResult.simulationResult?.simulationRuns as runs
  "
>
  <ng-container *ngFor="let start of runs; let i = index">
    <ng-container *ngIf="i % 3 === 0">
      <div class="row" data-testid="houseRow">
        <ng-container *ngFor="let simulation of runs | slice : i : i + 3">
          <div
            [ngClass]="{
              'col-12 mb-3': runs.length === 1,
              'col-12 col-lg-6 mb-3': runs.length === 2,
              'col-12 col-lg-4 mb-3': runs.length > 2
            }"
          >
            <app-house-grid
              data-testid="houseGrid"
              (increaseSimulationCount)="onSimulationFinished($event)"
              [gridPerHour]="simulation.gridPerHour"
              [columns]="simulationResult!.columns!"
              [rows]="simulationResult!.rows!"
            ></app-house-grid>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>
